<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangheart.androidopengl">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".OpenglApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionbar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnListActivity"
            android:label="OpenGL"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.WebActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.HelloTriangleActivity"
            android:label="Hello Triangle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HelloWindowActivity"
            android:label="Hello Window"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ShaderActivity"
            android:label="Shader"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.TransformationsActivity"
            android:label="Transformations"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CoordinateActivity"
            android:label="Coordinate"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CameraActivity"
            android:label="CameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.TexturesActivity"
            android:label="Textures"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.LightColorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.LightBasicsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.LightMaterialActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>